@{
    ViewBag.Title = "Contact";
}

</ br>
</ br>

<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/Images/contact.jpg" />
            </div>
            <div class="card-content">
                <div class="adres">

                    <img src="~/Content/Images/logo3_image.png" height="50" width="50"/> <br/>
                    ul. Śląska 125<br />
                    32-500 Chrzanów <br />
                    tel: 623-01-23<br />
                    <div>
                        <a href="mailto:Support@example.com">service@gmail.com</a><br />
                    </div>

                </div>
            </div>
            <div class="card-action">
                <a href="#"><img src="~/Content/Images/fb.ico" height="40" width="38"></a>
                <a href="#"><img src="~/Content/Images/g.ico" height="40" width="38"></a>
                <a href="#"><img src="~/Content/Images/twitter.ico" height="40" width="38"></a>
                <a href="#"><img src="~/Content/Images/yt.ico" height="40" width="38"></a>
            </div>

        </div>
    </div>
    <div class="col s12 m6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2556.783654006385!2d19.38181938796763!3d50.14647898439203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716e94f12ca2a69%3A0xf4a49f4ed9fe7984!2zQ2hyemFuw7N3IMWabMSFc2th!5e0!3m2!1spl!2spl!4v1480706981224"
                 width="600" height="480" frameborder="0" style="padding-top:10px" allowfullscreen></iframe>
    </div>
</div>
